.ighg_Office2010BlueControl
{
}


.ighg_Office2010BlueExpandButton
{
	padding-left:5px;
	cursor:hand;
}


.ighg_Office2010BlueExpansionColumnHeader
{
	width: 25px;
}


.ighg_Office2010BlueExpansionColumn
{
	padding:0px !important;
	width: 25px;
}


.ighg_Office2010BlueExpansionColumnFooter
{
	width: 25px;
}


.ighg_Office2010BlueGroupArea
{
	background-color:#EEEEEE;
	background-repeat:repeat-x;
	background-image: url(images/ighg_groupareabg.png);
	border-bottom:solid 1px #999999;
	padding:10px;
	color:#333333;
}


/* START -- GroupBy CSS Classes */
.ighg_Office2010BlueGroupIndentHeaderCell
{
}


.ighg_Office2010BlueGroupIndentFooterCell
{
}


.ighg_Office2010BlueGroupIndentAddNewRowCell
{
}


.ighg_Office2010BlueGroupedColumn
{
	background-repeat:repeat-x;
	background-image: url(images/ighg_groupedcolumnbg.png);
	padding:3px 5px 0px 10px;
	display: inline-block;
	height: 16px;
}


.ighg_Office2010BlueGroupedColumnRightEdge
{
	background-repeat:no-repeat;
	background-image: url(images/ighg_groupedcolumnrightedgebg.png);
	padding-top:3px;
	display: inline-block;
	width: 10px;
	height: 16px;
}


.ighg_Office2010BlueGroupedColumnRightEdgeEnd
{
	background-repeat:no-repeat;
	background-image: url(images/ighg_groupedcolumnrightedgeendbg.gif);
	padding-top:3px;
	display: inline-block;
	width: 10px;
	height: 16px;
}


.ighg_Office2010BlueGroupedBand
{
	background-repeat:repeat-x;
	background-image: url(images/ighg_groupedbandbg.png);
	border-left:solid 1px #FF9900;
	padding:3px 0px 0px 10px;
	display: inline-block;
	height: 16px;
}


.ighg_Office2010BlueGroupedBandRightEdge
{
	background-repeat:repeat-x;
	background-image: url(images/ighg_groupedbandbg.png);
	border-right:solid 1px #FF9900;
	padding:3px 0px 0px 0px;
	display: inline-block;
	width: 10px;
	height: 16px;
}


.ighg_Office2010BlueColumnGroupingTopDragIndicator
{
	background-repeat:no-repeat;
	background-image: url(images/ighg_topdragindicator.gif);
	width: 5px;
	height: 3px;
	z-index: 100;
}


.ighg_Office2010BlueColumnGroupingMiddleDragIndicator
{
	background-repeat:repeat-y;
	background-position:center ;
	background-image: url(images/ighg_middledragindicator.gif);
	width: 3px;
}


.ighg_Office2010BlueColumnGroupingBottomDragIndicator
{
	background-repeat:no-repeat;
	background-image: url(images/ighg_bottomdragindicator.gif);
	width: 5px;
	height: 3px;
	position: absolute;
	z-index: 100;
}


.ighg_Office2010BlueGroupedColumnLeftEdge
{
	background-repeat:no-repeat;
	background-image: url(images/ighg_groupedcolumnleftedgebg.gif);
	padding-top:3px;
	display: inline-block;
	width: 9px;
	height: 16px;
}


TBODY>TR.{0}>TD
{
}


TBODY>TR>TD.{0}
{
}


TBODY>TR.
{
	background-repeat:repeat-x;
	background-image: url(images/ighg_groupedrowbg.png);
	0: #EEEEEE;
}